.carddeath{
    background-color: black;
    color: white;
    margin-bottom: 10px;
    padding: 20px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 32px;
    margin-right: 32px;
}
.loading{
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: 600;
    margin: 30px;
}
.button{
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}